<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.huangzumou.myapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS" />


    <application
        android:name="com.example.huangzumou.myapplication.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/anydo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/anydo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.InfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.BuyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.PAY"/>
                <category android:name="android.intent.category.PAY" />
            </intent-filter>
        </activity>

        <activity android:name="cn.bmob.pay.v3.act.PayAct" />

        <service
            android:name="com.example.huangzumou.myapplication.socks.core.LocalVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
        <intent-filter>
            <action android:name="android.net.VpnService"/>
        </intent-filter>
    </service>

    </application>

</manifest>